/* Base styles for navbar */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  /* flex-direction: column; */
  padding: 1rem 2rem;
  background-color: #291404;
  color: #f4f6f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar h2 {
  font-size: 1.5rem;
  color: #f4f6f7;
}

/* Hamburger menu icon */
.menuToggle {
  background: none;
  border: none;
  font-size: 2rem;
  color: #f4f6f7;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 1.5rem;
}

.navbar a {
  color: #f4f6f7;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: white;
  padding: 0.5rem;
  border: 1px solid yellow;
  border-radius: 4px;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .menuToggle {
    display: block; /* Show the hamburger menu on smaller screens */
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    display: none; /* Initially hidden */
    width: 100%;
  }

  .navLinks.showMenu {
    display: flex; /* Show the menu when clicked */
  }

  .navbar li {
    margin: 0.5rem 0;
  }

  .navbar a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

/* Further adjustments for mobile phones */
@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar h2 {
    font-size: 1.2rem;
  }

  .navbar a {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
